*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
gradlew
gradlew.bat
gradle.properties
settings.gradle
/.idea
app/.gitignore
app/proguard-rules.pro
app/src/androidTest
app/src/test
gradle/
/app/src/main/java/com/mobeta/
